<form action="/contact/" id="form" method="post" novalidate="novalidate">
  <input
    type="hidden"
    name="csrfmiddlewaretoken"
    value="25zqV12zJxnWEUOwJcJUZtuq62lTb6B9ofp0F3EkUrgThSLkqLW1UDXwzMpE4kod"
  />
  <div id="div_id_contact_name" class="form-group">
    <label for="id_contact_name" class="control-label requiredField">
      Your Name<span class="asteriskField">*</span>
    </label>
    <div class="controls">
      <input
        class="textinput textInput form-control"
        id="id_contact_name"
        maxlength="50"
        name="contact_name"
        type="text"
        required=""
        aria-required="true"
      />
    </div>
  </div>
  <div id="div_id_contact_address" class="form-group">
    <label for="id_contact_address" class="control-label requiredField">
      <!--                Your Address<span class="asteriskField">*</span> </label> <div class="controls "> <input class="textinput textInput form-control" id="id_contact_address" maxlength="50" name="contact_address" type="text" required /> </div> </div> <div id="div_id_contact_email" class="form-group"> <label for="id_contact_email" class="control-label  requiredField">-->
      Email<span class="asteriskField">*</span>
    </label>
    <div class="controls">
      <input
        class="textinput textInput form-control"
        id="id_contact_email"
        maxlength="50"
        name="contact_email"
        type="text"
        required=""
        aria-required="true"
      />
    </div>
  </div>
  <div id="div_id_contact_phone" class="form-group">
    <label for="id_contact_phone" class="control-label requiredField">
      Telephone<span class="asteriskField">*</span>
    </label>
    <div class="controls">
      <input
        class="textinput textInput form-control"
        id="id_contact_phone"
        maxlength="50"
        name="contact_phone"
        type="text"
        required=""
        aria-required="true"
      />
    </div>
  </div>
  <div id="div_id_prop_address" class="form-group">
    <label for="id_prop_address" class="control-label requiredField">
      Which Property are you interested in?<span class="asteriskField">*</span>
    </label>
    <div class="controls">
      <input
        class="textinput textInput form-control"
        id="id_prop_address"
        maxlength="50"
        name="prop_address"
        type="text"
        required=""
        aria-required="true"
      />
    </div>
  </div>
  <div class="form-group">
    <div class="controls">
      <input
        type="submit"
        name="Submit"
        value="Submit"
        class="btn btn-primary btn-primary"
        id="submit-id-submit"
      />
    </div>
  </div>
</form>
