{#{% extends  my_template%}#}
{% extends  'index.html'%}
{% block 'hero_phrase' %}
Would you be interested in cash for your property?
{% endblock %}

{% block 'body' %}

<p><big> The Open Land Company is looking to purchase some properties in your area for investment purposes. </big></p>
<p><big> We buy properties others no longer want (inherited, tired of paying taxes, live out of area) or need to sell (foreclosure, tax sale, etc.) </big></p>

<p><big> We work to make it easy for you to sell your land and eliminate your real estate nuisance. </big></p>
<p><big> In return for selling your property at a discount, we can offer a number of reasons to work with us: </big></p>
<p><big>

- pay 100% of your closing costs <br>
- help avoid realtor's fees<br>
- satisfy back taxes and fees<br>
- close in 30 days or less
  (if the title is clear) </big>
<p><big>By the way, none of this costs you a dime. </big></p>

{#<p><big>If you would like an immediate offer on your property, please fill out the form below with as much information as possible. The first 4 fields are needed, but the more you can give us the faster we can act.  </big></p>#}
{#<p><big>If you would like an immediate offer on your property, please fill out the form below.   </big></p>#}
{#<p><big> We will get back to you within 24 hours by email. </big></p>#}

<p><big>You will be working with me throughout the process. I'll be available to talk and answer questions. My goal is to help you get through the process easily, without any drama or funny business</big></p>

<p><big>Thanks for your time,</big></p>
</br>
<p><big>Dan,<br> The Open Land Company.</big></p>

{% endblock %}


