---
title: A NOT SO NEW website
bob: Hello
tim: there
---
<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ title }}</title>
</head>
<body>{{ bob }}

<p>{{ tim }} </p>

</body>
</html>